.navBar {
    background-color: #f7f7f7;
}

.iconNav {
    transition: all 0.4s;
}

.iconNav:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 10px 25px#752CEC);
}

.dropDownNav .dropDownItem{
    text-align: center;
}

@media screen and (min-width:360px) {
    .iconNav {
        width: 16vw;
    }
    #basic-navbar-nav {
        font-size: 0.8rem;
    }
    .dropDownNav .dropDownItem{
        font-size: 4vw;
    }
}

@media screen and (min-width:480px) {
    #basic-navbar-nav {
        font-size: 1rem;
    }
    .dropDownNav .dropDownItem{
        font-size: 3vw;
    }
}

@media screen and (min-width:600px) {
    .iconNav {
        width: 10vw;
    }
    #basic-navbar-nav {
        font-size: 1.3rem;
    }
    .dropDownNav .dropDownItem{
        font-size: 2vw;
    }
}

@media screen and (min-width:1000px) {
    .dropDownNav .dropDownItem{
        font-size: 1vw;
    }
}

@media screen and (min-width:1150px) {
    .iconNav {
        width: 7.5vw;
    }
}